/* Um css especifico para os KeyFrames e textos extensivos das animacoes para facilitar a leitura */

/* Animacao presente no titulo (faz as alteracoes no blur da sombra) */
/* START */
@keyframes ShadowBlur-Animation{
    0%{
      text-shadow: 0px 0px 4px rgba(10, 230, 65, 0.5);
    }
    100%{
      text-shadow: 0px 0px 20px rgba(10, 230, 65, 0.5);
    }
}
/* END */

/* Animacao na parte de baixo do primeiro setor e no inicio do segundo (ele altera o tamanho horizontal da div dando a imprecao da animacao)  */
/* START */
@keyframes wave{
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

.wave{
    background: #f5f5e1cc;
    border-radius: 1000% 1000% 0 0;
    position: absolute;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 1;
    bottom: 0;
    left: 0;
    z-index: -1;
    clip-path: inset(0 0 0 0);
}

.wave:nth-of-type(2){
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3){
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}
/* END */